<div class={{@class}} {{did-insert this.initCheckboxGroup}}>
  <div class='label'>
    {{@label}}
  </div>
  <div>
    {{#each @options as |option|}}
      <Checkbox
        @model={{this.value}}
        @valuePath={{option.label}}
        @option={{option}}
        @onChange={{this.onChange}}
      />
    {{/each}}
  </div>
</div>