<div class="fly-in-wrapper" id="fly-in-wrapper" {{did-insert this.configWrapper}}>
    <div class="fly-in-container">
        <div class="fly-in-preview">
            <img class="fly-in-image" src={{this.imageSrc}} style="width: 100%;" />
            <FaIcon @icon={{this.icon}} class="fly-in-icon"/>
        </div>
        <div class="fly-in-title" {{did-insert this.configContent}}>
            <h3>{{this.title}}</h3>
        </div>
    </div>
    <div class="fly-in-dropdown">
        {{yield to="dropdown"}}
    </div>
</div>
