<div class="modal-backdrop {{if this.isOpen "modal-open" "modal-closed"}}">
    <div class="modal">
            <a {{on "click" this.toggleModal}}><FaIcon @icon={{this.icon}} class="modal-x"/></a>
        <div class="modal-header">
            <h1 style="margin-top: 0;">{{yield to="header"}}</h1>
        </div>
        <div class="modal-body">
            {{yield to="body"}}
        </div>
        <div class="modal-footer">
            {{#unless this.hideSecondaryButton}}
                <ButtonPrimary @onClick={{this.toggleModal}}>
                    {{this.secondaryButtonText}}
                </ButtonPrimary>
            {{/unless}}
            {{#unless this.hidePrimaryButton}}
                <ButtonPrimary @onClick={{this.acceptAndClose}} style="margin-left: 1em;">
                    {{this.primaryButtonText}}
                </ButtonPrimary>
            {{/unless}}
            {{yield to="footer"}}
        </div>
    </div>
</div>