<div class='navbar-wrapper'>
  <div class='navbar-container'>
    <div
      class='navbar-title cursor-pointer'
      {{on 'click' (fn this.onSelect this.homeRoute)}}
    >
      {{this.title}}
    </div>
    <div class='navbar-elements'>
      {{#each this.navbarOptions as |option|}}
        {{#if (eq option.type 'link')}}
          <div
            class='navbar-selection cursor-pointer'
            {{on 'click' (fn this.onSelect option)}}
          >
            {{option.label}}
          </div>
        {{/if}}
        {{#if (eq option.type 'dropdown')}}
          <div class='navbar-selection cursor-pointer'>
            <HeaderDropdown
              @class='navbar-dropdown'
              @options={{option.dropdownOptions}}
              @placeholder={{option.placeholder}}
              @onSelect={{this.onSelect}}
              @selectedOption={{option}}
              @preventDefault={{true}}
            />
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class='navbar-yield'>
    {{yield}}
  </div>
</div>