<div class='radio-container {{@class}}'>
  {{#if @label}}
    <div class='label'>
      {{@label}}
    </div>
  {{/if}}
  <div class='radio-options'>
    {{#each this.options as |option|}}
      <div class='radio-option'>
        <input
          type='radio'
          id={{option.label}}
          checked={{eq option.label this.value.label}}
          name={{@name}}
          {{on 'change' (fn this.onChange option)}}
        />
        <label for={{option.label}}>
          {{option.label}}
        </label>
      </div>
    {{/each}}
  </div>
</div>