<div class='scaffold-wrapper'>
  <Navbar @options={{@options}} @title={{@title}} />
  <div class='scaffold-yield'>
    <div class='scaffold-body'>
      {{yield to='body'}}
    </div>
  </div>
  {{#if (has-block 'footer')}}
    <Footer @footerTag={{@footerTag}}>
      {{yield to='footer'}}
    </Footer>
  {{else}}
    <Footer @footerTag={{@footerTag}} />
  {{/if}}
</div>