{{page-title "Dummy"}}

<h2 id="title">dlg-ui</h2>

<Dropdown 
    @class="custom-dropdown" 
    @options={{this.dropdownOptions}} 
    @placeholder="Select an option..."
    @onSelect={{this.onSelect}}
    {{!-- @forceSelection={{true}}
    @selectedOption={{this.selectedOption}} --}}
/>

{{outlet}}