{{page-title "DLG-UI"}}

<Navbar 
    @options={{this.navbarOptions}}
>
    <div class="app-body">
        
        <Dropdown 
            @class="custom-dropdown" 
            @options={{this.dropdownOptions}} 
            @placeholder="Select an option..."
            @onSelect={{this.onSelect}}
            {{!-- @forceSelection={{true}}
            @selectedOption={{this.selectedOption}} --}}
        />
        
        <br>

        
        <HeaderDropdown 
            @class="custom-dropdown" 
            @options={{this.dropdownOptions}} 
            @onSelect={{this.onSelect}}
            @selectedOption={{this.selectedOption}}
        />
        
        
        {{outlet}}
    </div>
</Navbar>