{{page-title 'DLG-UI'}}

<Scaffold
  @options={{this.navbarOptions}}
  @title={{this.title}}
  @footerTag={{this.footerTag}}
>
  <:body>
    {{outlet}}
  </:body>
  <:footer>
    <div class='footer-links'>
      <span>Link 1</span>
      <span>Link 2</span>
      <span>Link 3</span>
    </div>
  </:footer>
</Scaffold>