<div style='height: fit-content; width: fit-content;'>
  <Content>
    <:header>
      <div style='display: flex; justify-content: center; align-items: center;'>
        <h1>Players of the Week</h1>
      </div>
      <div style='width: 40vw;'>
        <Player::Card
          @player={{this.player}}
          @trophyCount={{this.trophyCount}}
          @points={{this.points}}
          @position={{this.position}}
          @picture={{this.picture}}
        />
      </div>
    </:header>
    <:body>
      <div
        style='display: flex; flex-direction: row; flex-wrap: wrap; width: 40vw;'
      >
        <div style='width: 50%;'>
          <Player::Card
            @player={{this.player}}
            @points={{this.points}}
            @position={{this.position}}
            @picture={{this.picture}}
          />
        </div>
        <div style='width: 50%;'>
          <Player::Card
            @player={{this.player}}
            @points={{this.points}}
            @position={{this.position}}
            @picture={{this.picture}}
          />
        </div>
        <div style='width: 50%;'>
          <Player::Card
            @player={{this.player}}
            @trophyCount={{2}}
            @points={{this.points}}
            @position={{this.position}}
            @picture={{this.picture}}
          />
        </div>
        <div style='width: 50%;'>
          <Player::Card
            @player={{this.player}}
            @trophyCount={{3}}
            @points={{this.points}}
            @position={{this.position}}
            @picture={{this.picture}}
          />
        </div>
        <div style='width: 50%;'>
          <Player::Card
            @player={{this.player}}
            @points={{this.points}}
            @position={{this.position}}
            @picture={{this.picture}}
          />
        </div>
        <div style='width: 50%;'>
          <Player::Card
            @player={{this.player}}
            @trophyCount={{5}}
            @points={{this.points}}
            @position={{this.position}}
            @picture={{this.picture}}
          />
        </div>
      </div>
    </:body>
  </Content>
</div>

<FlyIn @yPercentage="20%" @title="Most Yards" @titleOffset="12%">
  <:dropdown>
    1st P. Name 2nd P. Name 3rd P. Name
  </:dropdown>
</FlyIn>
<FlyIn @yPercentage="35%" @title="Most TDs">
  <:dropdown>
    1st P. Name 2nd P. Name 3rd P. Name
  </:dropdown>
</FlyIn>
<FlyIn @yPercentage="50%" @title="Fewest Allowed Yards" @titleOffset="10%" @activeWidth="400px">
  <:dropdown>
    1st P. Name 2nd P. Name 3rd P. Name
  </:dropdown>
</FlyIn>